<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Disease</title>
</head>
<body>
    <%- include("./navbar/navbar.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1><%= data[0].name %></h1>
    <table class="table">
        <th>Diagnosis</th>
        <th>Procedure</th>
        <th>Medicine</th>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.diagnosis %></td>
                <td><%= el.procedure %></td>
                <td><a href="/diseases/<%= el.id %>/medicine"><button>See Meds</button></a></td>
            </tr>
        <% }); %>
    </table>
</div>
</div>
</body>
</html>