<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Medicine</title>
</head>
<body>
    <%- include("./navbar/navbar.ejs"); %>
    <h1>Medicine</h1>
    <table class="table">
        <th>Name</th>
        <th>Company</th>
        <th>Registered at</th>
        <th>Description</th>
        <% data[0].Medicines.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.company %></td>
                <td><%= el.regDate %></td>
                <td><%= el.description %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>