<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Disease</title>
</head>
<body>
    <%- include("./navbar/bodynavbar.ejs"); %>
    <%- include("./navbar/navbarFull.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1>Diseases</h1>
    <form action="/diseases" method="get">
        <input type="text" name="search" placeholder="by diagnosis">
        <input type="submit" value="search">
    </form>
    <table class="table">
        <th>Name</th>
        <th>Diagnosis</th>
        <th>Procedure</th>
        <th>Status</th>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.diagnosis %></td>
                <td><%= el.procedure %></td>
                <td><%= el.status %></td>
                <td><a href="/diseases/<%= el.id %>"><button>Details</button></a></td>
                <td><a href="/diseases/<%= el.id %>/delete"><button>Delete</button></a></td>
                <td><a href="/diseases/<%= el.id %>/change"><button>Change</button></a></td>
            </tr>
        <% }); %>
    </table>
</div>
</div>
</body>
</html>