<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Medicines</title>
</head>
<body>
    <%- include("./navbar/bodynavbar.ejs"); %>
    <%- include("./navbar/guestnavbar.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1>Medicines</h1>
    <form action="/users/guest/medicines/" method="get">
        <input type="text" name="search" placeholder="by name">
        <input type="submit" value="search">
    </form>
    <table class="table">
        <th>Name</th>
        <th>Company</th>
        <th>Registered at</th>
        <th>Description</th>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.company %></td>
                <td><%= el.formatDate %></td>
                <td><%= el.description %></td>
            </tr>
        <% }); %>
    </table>
</div>
</div>
</body>
</html>