<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnost8</title>
</head>

<body>
    <a href="/"><button>Home</button></a>
    <a href="/diseases"><button>Diseases</button></a>
    <a href="/medicines"><button>Medicines</button></a>
    <a href="/diseases/add"><button>Add Diseases</button></a>
    <a href="/medicines/add"><button>Add Medicine</button></a>
    <h1>Medicine Change</h1>
    <form action="/medicines/<%= data[0].id %>/change" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" value="<%= data[0].name %>" required>
        <br><br>
        <label for="company">Company</label><br>
        <input type="text" name="company" value="<%= data[0].company %>" required>
        <br><br>
        <label for="regDate">Registration Date</label><br>
        <input type="Date" name="regDate"
            value="<%=data[0].regDate.toLocaleDateString('id',{year:'numeric',month:'2-digit',day:'2-digit'}).split('/')[2] + "-" +
            data[0].regDate.toLocaleDateString('id',{year:'numeric',month:'2-digit',day:'2-digit'}).split('/')[1] + "-" +
            data[0].regDate.toLocaleDateString('id',{year:'numeric',month:'2-digit',day:'2-digit'}).split('/')[0]%>"
        required>
        <br><br>
        <label for="description">Description</label><br>
        <textarea name="description" required><%= data[0].description %></textarea>
        <br><br>
        <input type="submit" value="Change">
    </form>
</body>

</html>